*{
    margin: 0%;
    padding: 0%;
}

html,body{
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50% ,  -50%); */
    height: 300px;
    width: 230px;
   border: 1px solid salmon;
   border-radius: 20px;
   overflow: hidden;
}

#card1{
    background-color: salmon;
   z-index: 4;
   transform: translate(-50%,-50%);
}
#card2{
    z-index: 3;
  transform: translate(-50%,-50%) rotate(-7deg);
background-color: rgb(36, 159, 44);

}
#card3{
    z-index: 2;
   
   transform: translate(-50%,-50%) rotate(-14deg);
background-color: rgb(65, 41, 185);
}
#card4{
    z-index: 1;
    background-color: rgb(213, 36, 184); 
    transform: translate(-50%,-50%) rotate(-21deg);

}
#card2:hover{
    z-index: 15;
}
#card3:hover{
    z-index: 14;
}
#card4:hover{
    z-index: 13;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}